{{!-- cocktails which will become custom_drinks and/or favorited_drinks --}}

{{!-- right now routes to /cocktails/:id from html to display single drink clicked on --}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <img src="{{cocktails.pic}}" class="card-img-top" width="100%" height="350" preserveAspectRatio="xMidYMid slice" focusable="false"  aria-label="{{cocktails.name}}">
          <h5 class="card-title"><strong>{{cocktails.name}}</strong></h5>
          <p><strong>Category:</strong> {{cocktails.category}}</p>
          <p><strong>Glass:</strong> {{cocktails.glass}}</p>
          <p><strong>Instructions:</strong> {{cocktails.instructions}}</p>
          <p><strong>Ingredients:</strong> {{cocktails.ing}}</p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Customize</button>
          <button type="button" class="btn btn-primary">Save</button>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>