<div class="container">
    <h1>Favorites: </h1>
    
    {{#each favorites}}
        <ul>
            <h2>{{name}}</h2>
            <img src="{{pic}}" width="25%" height="auto">
            <li><strong>Category:</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;{{category}}</li>
            <li><strong>Alcohol Content:</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;{{alcoholic}}</li>
            <li><strong>Glass:</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;{{glass}}</li>
            <li><strong>Instructions:</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;{{instructions}}</li>
            <li><strong> Ingredients:</strong> </li>
            {{#each ingr}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{this}}<br>
            {{/each}}
        </ul>
        <br><br>
    {{/each}}
</div>