<br class="container">
    <h1>Favorites: </h1>
    
    {{#each favorites}}
        <ul class="fav-list">
            <h2>{{name}}</h2>
            <img src="{{pic}}" width="25%" height="auto">
            <li><strong>Category:</strong> <br><span>{{category}}</span></li>
            <li><strong>Alcohol Content:</strong> <br><span>{{alcoholic}}</span></li>
            <li><strong>Glass:</strong> <br><span>{{glass}}</span></li>
            <li><strong>Instructions:</strong> <br><span>{{instructions}}</span></li>
            <li><strong> Ingredients:</strong> </li>
            {{#each ingr}}
                <span>{{this}}</span><br>
            {{/each}}
        </ul>
        <button id="delete-fav" class="btn btn-danger" data-name="{{name}}" data-id="{{id}}">Delete</button>
        <br><br>
    {{/each}}
</br>