<div class="container">
    <h1>Favorites: </h1>
    
    {{#each favorites}}
        <ul>
            <h2>{{name}}</h2>
            <img src="{{pic}}" width="25%" height="auto">
            <li>{{category}}</li>
            <li>{{alcoholic}}</li>
            <li>{{glass}}</li>
            <li>{{instructions}}</li>
            <li>{{ingredients}}</li>
            <li>{{measurements}}</li>
        </ul>
        <br><br>
    {{/each}}
</div>